<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookthiti.masai2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/masai_launcher"
        android:label="MASai"
        android:roundIcon="@mipmap/masai_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <!--<activity android:name=".MainActivity" />-->
        <activity android:name=".MasaiSettingActivity" />
        <activity
            android:name=".iotpentestmainscreen.IoTMainPentestActivity"
            android:label="IoT Device Pentest" />
        <activity android:name=".mobileapplicationscanningscreen.MobileApplicationScannerActivity" />
        <activity
            android:name=".networksearchingscreen.SearchNetworkActivity"
            android:label="Select Network" />
        <activity
            android:name=".DetailActivity"
            android:label="DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iot_suggestion"
            android:label="@string/title_activity_iot_suggestion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".routercrackingscreen.CrackRouterActivity" />
        <activity android:name=".Bluetooth_attackActivity" />
        <activity
            android:name=".devicediscoveryscreen.DeviceDiscoveryActivity"
            android:label="List of Devices" />
        <activity android:name=".ScanResultActivity" />
        <activity
            android:name=".devicediscoveryscreen.device.DeviceInformationActivity"
            android:label="Device Information" />
        <activity
            android:name=".deviceassessmentscreen.DeviceAssessmentActivity"
            android:label="Service Assessment" />
        <activity android:name=".Port_attackActivity" />
        <activity android:name=".OwaspMobileActivity" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true" />
        <service android:name=".bluetoothservice.BluetoothManagementService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>